/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

/*#83c030 green
#5f6062 grey*/
body {font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 62.5%; background: #f6f6f6;}
h1, h2, h3, h4, h5, h6 {color: #83c030; font-weight: 300; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;}
h1 {line-height: 1.2; font-size: 2.4em; letter-spacing: 1px;}
h2 {line-height: 1.2; font-size: 1.8em; color: black; letter-spacing: 1px;}
h3 {line-height: 1.2; font-size: 1.8em;}
p, li, td {color: black; line-height: 1.6em; font-size: 1.4em;}
footer p, footer h3, footer a:link, footer a:visited {color:white; text-decoration: none;}
footer p {margin-bottom: 5px; font-size: 1.2em; line-height: 1.2;}
.terms {color:#fff; font-size:1em; text-align: center; margin:5px 0;}
.header_phone {color:#929292; font-size:2.2em; font-weight: 200; letter-spacing: 1px;}

#block-block-3 a:link, #block-block-3 a:visited {color:#929292; font-size:1.4em; font-weight: 300; text-decoration: none; letter-spacing: 1px;}
#block-block-3 a:hover {text-decoration: underline;}

header {padding-top:20px;}
#navigation a:link {color: #fff; font-size: 1.4em;}

button.greenbutton {font-weight: 300; 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
	font-size: 1em;
	color: #ffffff;
	padding: 5px 20px;
	background: -moz-linear-gradient(
		top,
		#3EBB29 0%,
		#3AAD24 50%,
		#3AAD24);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#3EBB29),
		color-stop(0.50, #3AAD24),
		to(#3AAD24));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #3AAD24;
	-moz-box-shadow:
		0px 2px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 2px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0.7);
	box-shadow:
		0px 2px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(255,255,255,0);
	margin:0 5px;}

button.greybutton {
	font-weight: 300; 
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;	
	font-size: 1em;
	color: #ffffff;
	padding: 5px 20px;
	background: -moz-linear-gradient(
		top,
		#515557 0%,
		#3c3b3c 50%,
		#3c3b3c);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#515557),
		color-stop(0.50, #3c3b3c),
		to(#3c3b3c));
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #000000;
	-moz-box-shadow:
		0px 2px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 2px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0.7);
	box-shadow:
		0px 2px 3px rgba(000,000,000,0.5),
		inset 0px 0px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(255,255,255,0);
	margin:0 5px;

}

#region-menu {background: #555555; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU1NTU1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzYzNiM2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #555555 0%, #3c3b3c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555555), color-stop(100%,#3c3b3c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #555555 0%,#3c3b3c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #555555 0%,#3c3b3c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #555555 0%,#3c3b3c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #555555 0%,#3c3b3c 100%); /* W3C */
background: #3c3b3c\9;/* IE8 and below */
		}

.navigation a:link, .navigation a:visited {color: white; padding:15px 30px; display: block; float:left; text-decoration: none;}
.navigation a:hover, .navigation a.active {background: black;} 
.navigation li.last a:link, .navigation li.last a:visited {color:#83c030;}


#page {background: #fff; border: 0px 1px solid #eaeaea;}
#region-footer-first {background:#29292b;}
#region-footer-second {background:#1b1b1d;}

#zone-menu-wrapper {margin: 20px 0;}

.grey_block {background: #333; color:white; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }

/*Blocks*/
#block-block-2 {float:right; width:400px; text-align: right;}
#block-block-3 {float:left; width:380px; border-left: 2px solid #83c030; padding:30px 0 30px 20px;}
#block-block-3 p {margin: 0;}
.branding-data {float: left; width: 370px;}
.logo-img {padding:0; margin:10px 0 0 0;}

#region-footer-first {background: #333; color:white;}
